<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="repo">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/properties/local"/>
        <dependent-module archiveName="repo-amp-1.0-SNAPSHOT.amp" deploy-path="/WEB-INF/lib" handle="module:/resource/repo-amp/repo-amp">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/" handle="module:/overlay/prj/repo-amp?includes=**/**&amp;excludes=META-INF/MANIFEST.MF">
            <dependency-type>consumes</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/" handle="module:/overlay/var/M2_REPO/org/alfresco/alfresco/5.0.d/alfresco-5.0.d.war?unpackFolder=target/m2e-wtp/overlays&amp;includes=**/**&amp;excludes=META-INF/MANIFEST.MF">
            <dependency-type>consumes</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/" handle="module:/overlay/slf/?includes=**/**&amp;excludes=META-INF/MANIFEST.MF">
            <dependency-type>consumes</dependency-type>
        </dependent-module>
        <property name="context-root" value="repo"/>
        <property name="java-output-path" value="/repo/target/classes"/>
    </wb-module>
</project-modules>
